<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/registration.css">

</head>
<body>
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
    <script src="/static/js/registration.js"></script>
</body>
</html>
